body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    overflow-x: clip;
    background-color: #202020;
}
h1{
    font-weight: 100;
    font-size: 5rem;
    text-shadow: 1px 1px 10px rgb(255 0 0);
    color: rgb(255, 255, 255);
    animation: tecnoLuces 5s infinite;
}

hr{
    color: #5e5e5e;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes tecnoLuces {
  50% {
      text-shadow: 1px 1px 30px rgb(21, 255, 0);
    }
}

h2{
    font-size: 1.8rem;
    font-weight: 200;
    color: #72abff73;
}
p{
    font-size: small;
}
a{
    text-decoration: none;
}
button, input, optgroup, select, textarea {
    margin: 2px !important;
    width: 80% !important;
    background-color: black;
    color: cadetblue;
}
input[type="checkbox"] {
    width: auto !important;
    text-align: left !important;
}
input[type="radio"] {
    width: auto !important;
    text-align: left !important;
}
.logo {
    padding: 5px;
    color: rgb(255, 255, 255);
}
.ingrup{
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    width: fit-content;
    display: inline-flex;
}
.ingrup2{
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    width: fit-content;
    display: -webkit-box;
}
li{
    text-align: left !important;
}
.btn{
    width: auto !important;
}
.brillo{
    box-shadow: rgb(0 140 255 / 42%) 0 1px 10px;
}
.hidden {
    display: none !important
}
.h2dark{
    text-shadow: 1px 1px 10px rgb(0 0 0);
    color: rgb(255, 255, 255);
}

#cargando{
    background-color: #202020;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:1;
    top:0px;
    padding-top:125px;
}
#barraLoading{
    background-color:rgb(255, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.623);
    height: 20px;
    width: 5px;
}
#loadingCard{
    margin: auto;
    background-color: rgb(33 37 41) !important;
    z-index: 100;
}   
.card{
    transition: 0.3s;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 25px;
    display: block;
    background-color: rgb(46 46 46);
    color: #c5c5c5;
}
.bebidas{
    margin-left: 5px;
    margin-right: 5px;
    list-style: none;
    padding: 10px !important;
    width: 200px;
    height: 315px;
    background-color: rgb(28 28 28);
    font-weight: 400;
    color: aliceblue;
    font-size:small;
    text-align: center !important;
    box-shadow: 1px 1px 10px rgb(0 0 0);
}
.bebidas img{
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.bebidas p {
    width: 25ch;
    height: 5ch;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px !important;
    display: block;
    white-space: pre;
}
.btnBeb{
    border-radius: 100%;
    width: 50px !important;
    height: 50px !important;
}

.menu{
    overflow: hidden;
    background-image: url(/img/textura_madera.jpg);
    background-size: cover;
}
.bebidaAgregada{
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 80px;
    list-style: none;
    padding: 10px !important;
    background-color: rgb(28 28 28);
    font-weight: 400;
    color: aliceblue;
    font-size: small;
    text-align: left !important;
    box-shadow: 1px 1px 10px rgb(0 0 0);
    display: inline-table;
}

.bebidaAgregada img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.bebidaAgregada p {
    width: 25ch;
    height: 2ch;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: pre;
    padding-left: 10px;
    margin: auto;
    position: absolute;
    right: 15px;
}

.headerTrago{
    width: 100% !important;
    height: 300px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
}

#copaDiv {
    width: 83%;
    margin: auto;
    position: relative;
}

.ingredientes{
    width: 49%;
    position: relative;
    margin-left: 0px;
}